body {
    font-family: "Noto Serif", serif;
    letter-spacing: -0.01em;
    font-size: 1rem;
    color: #26211d;
}

// size
.title-60 {
    font-size: 3.75rem;
    font-family: "Playfair Display", serif;
}

.title-50 {
    font-size: 3.125rem;
    font-family: "Playfair Display", serif;
}

.title-44 {
    font-size: 2.75rem;
    font-family: "Playfair Display", serif;
}

.title-38 {
    font-size: 2.375rem;
    font-family: "Playfair Display", serif;
}

.title-32 {
    font-size: 2rem;
    font-family: "Playfair Display", serif;
}

.title-30 {
    font-size: 1.875rem;
    font-family: "Playfair Display", serif;
}

.title-25 {
    font-size: 1.5625rem;
    font-family: "Playfair Display", serif;
}

.body-32 {
    font-size: 2rem;
}

.body-30 {
    font-size: 1.875rem;
}

.body-26 {
    font-size: 1.625rem;
}

.body-24 {
    font-size: 1.5rem;
}

.body-22 {
    font-size: 1.375rem;
}

.body-20 {
    font-size: 1.25rem;
}

.body-18 {
    font-size: 1.125rem;
}

.body-16 {
    font-size: 1rem;
}

.body-17 {
    font-size: 1.0625rem;
}

.body-15 {
    font-size: 1.5rem;
}

.body-15 {
    font-size: 0.9375rem;
}

.body-14 {
    font-size: 0.875rem;
}

.body-12 {
    font-size: 0.75rem;
}

.link-16 {
    font-size: 1rem;
    text-decoration: underline;
}

.link-14 {
    font-size: 0.875rem;
    text-decoration: underline;
}

.sources {
    font-size: 0.75rem;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
}

.num {
    font-size: 2.875rem;
    font-weight: 700;
    font-family: "DM Serif Display", serif;
    color: #74724c;
}

// weight
.fw-bold {
    font-weight: bold;
}

.fw-medium {
    font-weight: 500;
}

.fs-italic {
    font-style: italic;
}

// 자간
.ls-8 {
    letter-spacing: 0.08em;
}

.ls-m17 {
    letter-spacing: -0.17em;
}

.ls-20 {
    letter-spacing: 0.2em;
}