@use 'var' as *;
@use 'mixin' as *;

.line {
    a::before {
        content: "";
        position: absolute;
        background-color: $text-white;
        width: 100%;
        height: rem(1);
    }
}

// kv
.userkv {
    background-image: url(../images/guide_kv_img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    color: $text-white;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }

    &-container {
        width: 100%;
        height: 100%;
        text-align: center;
        position: relative;
    }

    &__sub-content {
        width: 100%;
        position: absolute;
        top: 18%;
        left: 0;
        // transform: translate(-50%, -50%);
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 rem(20);
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(20);
    }

    .sub-content-line {
        width: rem(1);
        height: rem(40);
        background-color: $text-white;
    }
    

    &__text-wrap {
        padding-top: rem(160);
        padding-bottom: rem(160);

        p {
            padding-top: rem(13);
        }
    }
}

// guide
.guide {
    width: 100%;
    background-color: $main-primary-color;

    &__content {
        border-top: 1px solid $text-black;
    }

    &__text-wrap {
        width: 50%;

        > p {
            color: $point-color;
        }
    }

    &__list {
        li {
            padding: rem(22) 0;
            border-bottom: 1px solid $text-black;
            align-items: center;
        }
    }

    &__list li:last-child {
        border-bottom: 0;
    }

    &__video-wrap {
        padding: rem(30) 0;
        width: 50%;
        aspect-ratio: 16 / 9;
        border-bottom: 1px solid $text-black;
        overflow: hidden;

        iframe {
            width: 100%;
            height: 100%;
            border-radius: rem(20);
        }
    }
}

// best
.best {
    background-color: $main-primary-color;

    // tab
    &-tab-wrap {
        justify-content: space-between;
    }

    &-tab {
        gap: rem(24);
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            a {
                display: inline-block;
                padding-bottom: rem(4);
                color: rgba($point-color, 0.4);
                font-weight: 400;
                text-decoration: none;
                border-bottom: 2px solid transparent;
                transition: color 0.3s, border-color 0.3s;
            }

            &.type-on a {
                color: $point-color;
                font-weight: 700;
                border-bottom-color: $point-color;
            }
        }
    }

    &-classic, &-premium {
        position: relative;
    }

    .btn-mo {
        opacity: 0;
        transition: opacity 0.3s;
        position: absolute;
        top: rem(-102);
        right: 0;
        z-index: 8;

        & > div {
            position: relative;
        }
    }

    .swiper-button-prev, .swiper-button-next {
        position: static;
        margin-top: 0;
        background-color: transparent;
        width: rem(36);
        height: rem(36);
    }

    .swiper-slide {
        width: 100%;
    }

    &-premium {
        display: none;
    }

    &-classic-card-list, &-premium-card-list {
        display: flex;
        // flex-direction: column;
    }

    &-card__img .sources {
        color: $main-sub-color;
    }
}

// pairing
.pairing {
    width: 100%;
    background-color: $main-fourth-color;
    position: relative;
    overflow: hidden;

    .title-50 {
        color: $text-white;
    }

    // tab
    &-tab-wrap {
        // justify-content: space-between;
    }

    &-tab {
        gap: rem(24);
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            a {
                display: inline-block;
                padding-bottom: rem(4);
                color: rgba($main-sub-color, 0.4);
                font-weight: 400;
                text-decoration: none;
                border-bottom: 2px solid transparent;
                transition: color 0.3s, border-color 0.3s;
            }

            &.pairing-on a {
                color: $text-beige;
                font-weight: 700;
                border-bottom-color: $text-beige;
            }
        }
    }

    &-drink {
        display: none;
    }

    .pairing-food,
    .pairing-drink {
        position: relative;
    }

    .btn-mo {
        opacity: 0;
        transition: opacity 0.3s;
        position: absolute;
        top: rem(-102);
        right: 0;
        z-index: 8;

        & > div {
            position: relative;
        }
    }

    .pairing-food .btn-mo,
    .pairing-drink .btn-mo {
        position: absolute;
        top: rem(-100);
        right: 0;
    }

    .swiper-button-prev, .swiper-button-next {
        position: static;
        background-color: transparent;
        width: rem(36);
        height: rem(36);
        margin-top: 0;

        & > svg {
            width: 100%;
        }
    }

    .drink-card-list {
        flex-wrap: wrap;
        gap: rem(16);
    }


    .food-card {
        // width: calc((100% - 32px) / 3);
        // height: rem(591);

        &__text {
            .pt-20 {
                height: rem(140);
            }

            .pt-12 {
                height: rem(60);
            }
        }
    }

    .drink-card {
        // width: calc((100% - 16px) / 2);
        // width: rem(788);

        &__img {
            width: 50%;
            height: rem(300);
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__text {
            flex: 1;
        }
    }

}

// breakpoint
@media(max-width:1200px) {
    .pairing {
        .food-card {
            padding: rem(20);
        }


        .drink-card {
            padding: rem(20);

                > div {
                    flex-direction: column;
                }
    
                &__img {
                    width: 100%;
                    max-width: 100%;
                    height: rem(200);
    
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                &__text {
                    .pt-10 {
                        height: rem(58);
                    }

                    .fs-italic {
                        padding-top: rem(20);
                    }

                    ul.pt-10 {
                        height: rem(120);
                    }
                }
            }
    }
}

@media (min-width: 1025px) {
    // best
    .best-classic-card-list, .best-premium-card-list {
        display: flex;
        flex-direction: column; /* 기존 구조 유지 */
        gap: rem(16);
    }

    // pairing
    .food-card-list {
        display: flex;
        flex-wrap: wrap;
        gap: rem(16);
    }

    .food-card {
        width: calc((100% - 32px) / 3);
    }

    .drink-card {
        width: calc((100% - 16px) / 2);
    }

}

@media(max-width:1024px) {
    // kv
    .userkv {
        &__text-wrap {
            padding-top: rem(100);
            padding-bottom: rem(100);

            h2 {
                font-size: rem(50);
            }
        }
    }

    // guide
    .guide {
        h2 {
            font-size: rem(40);
        }

        .num {
            font-size: rem(40);
        }

        &__content {
            flex-direction: column-reverse;
            border-top: 0;
            gap: rem(20);
        }

        &__text-wrap {
            width: 100%;
        }

        &__video-wrap {
            width: 100%;
            border-bottom: 0;
            padding: 0;

            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }

    // best
    .best {
        &__title-wrap {
            .title-50 {
                font-size: rem(40);
            }
        }

        .btn-mo {
            opacity: 1;
        }

        &-card-list {
            flex-direction: row;
            gap: rem(0);
        }

        &-card {
            flex-direction: column;
            
            &__img {
                max-width: 100%;
            }
            &__text {
                .pt-60 {
                    padding-top: rem(40);
                }
            }
        }

        &-classic, &-premium {
            gap: rem(20);
        }
    }

    // pairing
    .pairing {
        &__title-wrap {
            .title-50 {
                font-size: rem(40);
            }
        }

        .btn-mo {
            opacity: 1;
        }

        &-prev:hover {
            rect {
                fill: $text-beige;
            }
        }

        &-next:hover {
            rect {
                fill: $text-beige;
            }
        }

        .food-card, .drink-card {
            width: calc((100% - 16px) / 2);
            padding: rem(20);
        }

        .food-card {
            &__text {
                h3 {
                    font-size: rem(24);
                    margin-top: rem(18);
                }

                .body-18 {
                    font-size: rem(16);
                }
            }
        }

        .food-card {
            width: auto;
            &__text {
                .pt-20 {
                    height: rem(108);
                    padding-top: rem(8);
                }

                .pt-12 {
                    height: auto;
                }
            }
        }

        .drink-card {
            width: auto;
            
            &-list {
                flex-wrap: initial;
                gap: 0;
            }

            &__text {
                h4 {
                    font-size: rem(22);
                }
            }
        }

        .label-icon {
            margin-top: rem(20);
        }
    }
}

@media(max-width:768px) {
    // kv
    .userkv {
        &__text-wrap {
            padding-top: rem(40);
            padding-bottom: rem(40);

            h2 {
                font-size: rem(38);
            }

            p {
                font-size: rem(20);
            }
        }

        &__sub-content {
            top: 30%;
        }
    }

    // guide
    .guide {
        h2 {
            font-size: rem(32);
            padding-bottom: rem(40);
        }

        &__list {
            li p {
                font-size: 1rem;
            }

            .num {
                font-size: rem(30);
            }
        }
    }

    // best
    .best {
        &__title-wrap {
            .title-50 {
                font-size: rem(32);
            }
        }

        &-tab {
            font-size: rem(18);
        }

        &-list {
            padding-top: rem(20);
        }

        .btn-mo {
            top: rem(-52);
        }        

        .btn-prev, .btn-next {
            svg {
                width: rem(36);
            }
        }

        &-card {
            gap: rem(10);
            height: rem(703);

            &__img {
                // height: rem(300);
                
                img {
                    height: rem(300);
                }
            }

            .label {
                font-size: rem(18);
            }

            &__text {
                h3 {
                    font-size: rem(24);
                    // height: rem(72);
                }

                .pt-16 {
                    // height: rem(112);
                }
            }
        }

        &-classic, &-premium {
            gap: rem(10);
        }

    }

    // pairing
    .pairing {
        &__title-wrap {
            .title-50 {
                font-size: rem(32);
            }
        }

        &-tab {
            font-size: rem(18);
        }

        &-list {
            padding-top: rem(20);
        }

        .pairing-food .btn-mo,
        .pairing-drink .btn-mo {
            top: rem(-52);
        }

        .food-card {
            &__img-wrap {
                height: rem(200);
            }

            &__text {
                h3 {
                    font-size: rem(24);
                    margin-top: rem(18);
                }

                .body-18 {
                    font-size: rem(16);
                }
            }
        }

        .food-card {
            width: auto;

            .pt-20 {
                height: rem(118);
            }

            .pt-12 {
                height: rem(56);
            }

        }

        .drink-card {
            &__text {
                .pt-10 {
                    font-size: rem(16);
                }
            }
        }

        .label-icon {
            margin-top: rem(20);
        }
    }
}

@media(max-width: 514px) {
    .userkv {
        &__sub-content {
            top: 27%;
        }
    }
}

@media(max-width:402px) {
    // kv
    .userkv {
        &__text-wrap {
            p {
                font-size: rem(18);
            }
        }
    }

    // guide
    .guide {
        h2 {
            padding-bottom: rem(20);
        }

        &__list {
            li p {
                font-size: 1rem;
            }

            .num {
                font-size: rem(30);
            }
        }
    }

    // best
    .best {
        &-tab {
            font-size: rem(22);
        }

        &-card {
            height: rem(607);
            
            &__img {
                img {
                    height: rem(200);
                }
            }

            .label {
                font-size: rem(16);
            }

            &__text {
                .body-18 {
                    font-size: rem(15);
                }

                .pt-60 {
                    padding-top: rem(30);
                }
            }
        }

        &-classic, &-premium {
            gap: rem(10);
        }
    }

    // pairing
    .pairing {
        &-tab {
            font-size: rem(22);
        }

        &-list {
            padding-top: rem(20);
        }        

        .food-card {
            .pt-20 {
                height: rem(100);
            }

            .pt-12 {
                height: rem(56);
            }

        }
    }

}