@use 'var';
@use 'mixin' as *;

// header
.header {
    width: 100%;
    position: fixed;
    background-color: transparent;
    color: var.$text-white;
    z-index: 10;

    // pc
    .pc.py-40.d-flex {
        justify-content: space-between;
        align-items: center;
        padding-right: rem(79);
        padding-left: rem(79);
        background-color: #333;
    }

    &__logo a {
       width: rem(240);
       display: block;
    
       img {
        width: 100%;
        object-fit: cover;
       }
    }

    .header__menu a {
        padding-bottom: rem(2);
    }

    .header__menu:hover a {
        border-bottom: 1px solid var.$text-white;
    }

    // mo
    &__mo-menu {
        display: none;
    }

}
