@use 'var';
@use 'mixin' as *;

// header
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    color: var.$text-white;
    // background-color: #333;
    z-index: 10;

    .header .scroll {
        background-color: #131313;
    }

    // pc
    .pc.container.d-flex {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: rem(240);
    }

    &__logo a {
       width: 100%;
       display: block;
    
       img {
        width: 100%;
        object-fit: cover;
       }
    }

    // mo
    &__mo-menu {
        // background-color: var.$point-color;
        background-color: transparent;
    }

    &__mo-logo {
        width: rem(140);
    }

    &__mo-logo a {
        width: 100%;
        display: block;
        
        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__mo-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);
        transition: transform 0.4s ease;
        background-color: var.$point-color;
        z-index: 12;
    }

    &__mo-nav.is-open {
        transform: translateX(0);
    }

    &__menu a {
        padding-bottom: rem(2);
        display: block;
    }

    &__menu:hover a {
        border-bottom: 1px solid var.$text-white;
    }

    &__mo-menu {
        display: none;
        width: 100%;
    }

    &__mo-logo {
        width: rem(140);
    }

    &__mo-logo a {
        width: 100%;
        display: block;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__mo-logo-wrap.d-flex {
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__mo-menu-list.d-flex {
        flex-direction: column;
        margin-top: rem(172);
    }
}

.footer {
    background-color: var.$text-black;
    color: var.$main-primary-color;

    &__logo {
        width: rem(198);
        height: rem(34);
        margin-bottom: rem(30);

        a {
            display: block;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: left center;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: rem(6);
    }

    &__warning {
        margin-bottom: rem(16);
    }

    &__content-list {
        display: flex;
        flex-direction: column;
        gap: rem(4);

        li {
            line-height: 1.6;
        }

        .d-flex {
            align-items: center;
            flex-wrap: wrap;

            p + p {
                &::before {
                    content: '│';
                    padding: 0 rem(10);
                    opacity: 0.4;
                }
            }
        }
    }

    &__copyright {
        margin-top: rem(40);
        color: var.$main-sub-color;
        font-size: rem(14);
    }
}

@media(max-width:1280px){
    .header {
        .pc {
            padding-top: rem(20);
            padding-bottom: rem(20);
        }

        &__menu-list.d-flex {
            gap: rem(40);
        }
    }
}

@media(max-width:768px){
    .header {
        // background-color: var.$point-color;
        overflow: hidden;

        .pc {
            display: none;
        }

        &__mo-menu {
            display: block;
        }
    }
}

@media(max-width:402px){

}

