@use 'var' as *;
@use 'mixin' as *;

.container {
  width: $container-pc;
  margin: 0 auto;
  box-sizing: border-box;

@media (max-width: $bp-ta) {
    width: $container-ta;
  }

  @media (max-width: $bp-mo) {
    width: $container-mo;
  }
}

