@use 'var' as *;
@use 'mixin' as *;

body{
    overflow-x: hidden;
}

// kv
.kv {
    width: 100%;
    height: 100vh;
    position: relative;
    
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    &-container {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__title-wrap {
        position: absolute;
        top: 50%;
        left: 0;
        
        h2 {
            color: $text-white;
            padding: 0 rem(32);
        }
    }


    &__content {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 94%;
        left: 0;
    }

}

// info
.info {
    width: 100%;

    &__text-wrap {
        margin-bottom: rem(60);
    }

    &__fade-list {
        width: 100%;
        height: rem(520);
        position: relative;
    }

    .fade-img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: rem(20);
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        display: none;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .fade-img:first-child {
        display: block;
    }
}

// layer
.layer {
    width: 100%;
    height: 200vh;
    height: auto;
    position: relative;
    background: radial-gradient(circle,#74706E 2%,#211E1C 38%, #1B1816);
    overflow: hidden;

    &__inner {
        position: relative;
        width: 100%;
        height: 100vh;
        z-index: 2;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        inset: 0;
        z-index: 0;
       

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            // object-fit: cover;
            object-position: center;
        }
    }
    
    .container {
        position: relative;
        width: 100%;
    }

    &__item {
        position: absolute;
        opacity: 0;
        color: $text-white;
        padding: 0 rem(32);
    }

    // clear
    &__clear {
        top: 0;
        left: 0;
        transform: translateY(150%);
    }

    .clear__text {
        align-self: flex-start;
    }

    &__clear-pin {
        align-self: flex-end;
    }

    // cloudy
    &__cloudy {
        bottom: 0;
        right: 0;
        transform: translateY(500%);
        text-align: right;
    }

    .cloudy__text {
        align-self: flex-start;
    }

    &__cloudy-pin {
        align-self: flex-end;
    }
}

// drink
.drink {
    background-color: $main-fourth-color;
    color: $text-white;

    &__img {
        width: 100%;
        height: rem(520);
        border-radius: rem(20);
        overflow: hidden;

        a {
            display: block;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.4s ease;
                transform: scale(1);       
            }
        }

        a:hover img {
            transform: scale(1.1);
        }
    }
}

// type
.type {
    width: 100%;
    background-color: $main-primary-color;

    &-left {
        align-self: center;
        padding-left: rem(32);
        width: 35.625%;
        min-width: 517px;

        > div {
            width: 100%;
            max-width: 517px;
            margin-left: auto;
        }
    }

    .type-tab {
        gap: rem(24);
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            a {
                display: inline-block;
                padding-bottom: rem(4);
                color: rgba($point-color, 0.4);
                font-weight: 400;
                text-decoration: none;
                border-bottom: 2px solid transparent;
                transition: color 0.3s, border-color 0.3s;
            }

            &.type-on a {
                color: $point-color;
                font-weight: 700;
                border-bottom-color: $point-color;
            }
        }
    }

    .btn-wrap {
        padding-top: rem(400);
    }

    &-right {
        align-self: flex-end;
        flex: 1;
        overflow: hidden;
    }

    &-classic, &-premium {
        overflow: visible;
    }

    .swiper {
        overflow: visible;
    }

    .swiper-slide {
        width: rem(520);
        height: 500px;
        padding-top: 65px;
    }
}

.experience {
    width: 100%;
    height: rem(540);
    align-items: stretch;

    a {
        width: 100%;
        display: block;
        flex: 0 0 50%;
        overflow: hidden;

        > img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            transition: transform 0.4s ease;
        }

        &:hover img {
            transform: scale(1.1);
        }
    }

    &__text-wrap {
        width: calc(100% / 2);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: rem(50);
        padding-left: rem(50);
    }
}

@media(max-width: 1480px) {
    .layer__clear-pin {
        display: none;
    }

    .layer__cloudy-pin {
        display: none;
    }
}

@media (max-width: 1024px) and (min-width: 403px) {
    .experience {
        height: auto;
        flex-direction: column;

        a {
            flex: none;
            width: 100%;
            margin-bottom: rem(20);
        }

        &__text-wrap {
            width: 100%;
            padding: rem(40) rem(32) rem(20);
        }

        h2.title-50 {
            font-size: rem(32);
            padding-bottom: rem(20);
        }

        p.body-24 {
            font-size: rem(16);
            line-height: 1.5;
            padding-bottom: rem(32);
        }

        .btn-more {
            font-size: rem(16);

            svg {
                width: rem(6);
                height: rem(12);
            }
        }
    }
}



@include media($bp-ta){
    // kv
    .kv {
        h2 {
            font-size: rem(38);
        }
    }

    // info
    .info {
        &__fade-list {
            height: rem(200);
        }

        &__text-wrap {
            margin-bottom: 0;
        }

        

        h2.title-50 {
            font-size: rem(32);
        }

        p.body-20 {
            font-size: rem(16);
            padding-bottom: rem(40);
        }

        .btn-more {
            font-size: rem(16);

            svg {
                width: rem(6);
                height: rem(12);
            }
        }
    }

    // drink
    .drink {
        &__img {
            height: rem(200);
        }

        h2.title-50 {
            font-size: rem(32);
        }

        p.body-20 {
            font-size: rem(16);
        }

        .btn-more {
            font-size: rem(16);

            svg {
                width: rem(6);
                height: rem(12);
            }
        }
    }

    // layer
    .layer {
        &__img {
            object-fit: cover;
        }

        &__clear-pin,
        &__cloudy-pin {
            display: none;
        }

        &__clear,
        &__cloudy {
            .title-50 {
                font-size: rem(32);
            }

            .body-22 {
                font-size: rem(14);
            }

            .body-18 {
                font-size: rem(16);
            }
        }
    }

    // Type
    .type {
        flex-direction: column;

        &-left {
            width: 100%;
            min-width: 0;
            flex: none;

            > div {
                margin-left: 0;
                max-width: 100%;
                padding: 0 rem(20);
            }
        }

        h2.title-50 {
            font-size: rem(32);
            padding-bottom: rem(20);
        }

        .type-tab-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .type-tab {
            gap: rem(16);
            font-size: rem(16);
        }

        .btn-wrap {
            padding-top: 0;

            .btn-prev,
            .btn-next {
                svg {
                    width: rem(44);
                    height: rem(44);
                }
            }
        }

        &-right {
            flex: none;
            width: 100%;
            overflow: hidden;
            padding: rem(36) rem(28) 0;
        }

        .swiper {
            overflow: hidden;
        }

        .swiper-slide {
            width: calc((100% - #{rem(16)}) / 2);
            height: rem(390);
            padding-top: rem(46);
        }

        .type-card {
            height: 100%;

            &__bg {
                height: rem(430);
                box-sizing: border-box;
            }
        }
    }

}

@include media($bp-mo){
// kv
    .kv {
        h2 {
            font-size: rem(38);
            text-align: center;
        }
    }

    .type {
        &-left{
            padding: 0;
        }
        &-right {
            padding: rem(40) rem(20) 0;
        }

        .swiper {
            overflow: hidden;
        }

        .swiper-slide {
            width: 100%;
        }
    }

    .layer {
        &__img {
            img {
                object-fit: cover;
            }
        }
    }

    .experience {
        height: auto;
        flex-direction: column;

        a {
            flex: none;
            width: 100%;
            margin-bottom: rem(20);
        }

        &__text-wrap {
            width: 100%;
            padding: rem(32) rem(20) rem(16);
        }

        h2.title-50 {
            font-size: rem(32);
            padding-bottom: rem(20);
        }

        p.body-24 {
            font-size: rem(16);
            line-height: 1.5;
            padding-bottom: rem(32);
        }

        .btn-more {
            font-size: rem(16);

            svg {
                width: rem(6);
                height: rem(12);
            }
        }
    }
}

@media(max-width:471px){
    .type {
        &-card {
            &__bg {
                height: auto;
            }
        }
    }
}
