@use 'var' as *;
@use 'mixin' as *;

body{
    overflow-x: hidden;
}

// kv
.kv {
    width: 100%;
    height: 100vh;
    
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    -container {
        position: relative;
    }

    h2 {
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translate(-20%, -50%);
        color: $text-white;
        padding: 0 rem(32);
    }

    &__content {
        text-align: center;
        margin-top: rem(-60);
    }
}

// info
.info {
    width: 100%;

    &__text-wrap {
        margin-bottom: rem(60);
    }

    &__fade-list {
        width: 100%;
        height: rem(520);
        position: relative;
    }

    .fade-img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: rem(20);
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        display: none;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .fade-img:first-child {
        display: block;
    }
}

// layer
.layer {
    width: 100%;
    height: 160vh;
    position: relative;
    background-color: #1B1715;

    &__inner {
        position: relative;
        width: 100%;
        height: 100vh;
        // background-image: url(../images/layer_img.png);
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
        overflow: hidden;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // object-fit: cover;
        object-fit: contain;
    }
    
    .container {
        position: relative;
        width: 100%;
    }

    &__item {
        position: absolute;
        opacity: 0;
        color: $text-white;
        padding: 0 rem(32);
    }

    // clear
    &__clear {
        top: 0;
        left: 0;
        transform: translateY(150%);
    }

    .clear__text {
        align-self: flex-start;
    }

    &__clear-pin {
        align-self: flex-end;
    }

    // cloudy
    &__cloudy {
        bottom: 0;
        right: 0;
        transform: translateY(530%);
    }

    .cloudy__text {
        align-self: flex-start;
    }

    &__cloudy-pin {
        align-self: flex-end;
    }
}

// drink
.drink {
    background-color: $main-fourth-color;
    color: $text-white;

    &__img {
        width: 100%;
        height: rem(520);
        border-radius: rem(20);
        overflow: hidden;

        a {
            display: block;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.4s ease;
                transform: scale(1);       
            }
        }

        a:hover img {
            transform: scale(1.1);
        }
    }
}

// type
.type {
    width: 100%;
    background-color: $main-primary-color;

    &-left {
        flex: 1;
        align-self: center;
        flex: 4;
    }

    .btn-wrap {
        padding-top: rem(400);
    }

    &-right {
        // width: 66.67%;
        // height: 100%;
        align-self: flex-end;
        flex: 8;
        overflow: hidden;
    }

    &-classic, &-premium {
        overflow: visible;
    }

    .swiper {
        overflow: visible;
    }

    .swiper-slide {
        width: rem(520);
        height: 500px;
        padding-top: 65px;
    }
}

.experience {
    width: 100%;
    height: rem(440);
    align-items: stretch;

    a {
        width: 100%;
        display: block;
        flex: 0 0 50%;
        overflow: hidden;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.4s ease;
        }

        &:hover img {
            transform: scale(1.1);
        }
    }

    &__text-wrap {
        width: calc(100% / 2);
        padding-right: rem(50);
        padding-left: rem(50);
    }
}



@include media($bp-ta){
    // kv
    .kv {
        h2 {
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            padding: 0 rem(20);
            width: 100%;
        }

        &__content {
            margin-top: rem(-40);
        }
    }
}

@include media($bp-mo){
    
}