// main color
$main-primary-color: #e9e4de;
$main-sub-color: #a79f90;
$main-tri-color: #594B3f;
$main-fourth-color: #26211d;

// text color
$text-black: #131313;
$text-white: #fff;
$text-beige: #f6eedf;

// point color
$point-color: #74724c;


// disable color
$disable-main-color : #929292;
$disable-sub-color : #b3b3b3;

//reponsive
$pc: 1592px;
$tablet: 768px;
$mobile: 402px;
