// main color
$main-primary-color: #e9e4de;
$main-sub-color: #a79f90;
$main-tri-color: #594B3f;
$main-fourth-color: #26211d;

// text color
$text-black: #131313;
$text-white: #fff;
$text-beige: #f6eedf;
$text-gray: #717171;

// point color
$point-color: #74724c;

// disable color
$disable-main-color : #929292;
$disable-sub-color : #b3b3b3;

// container
$container-pc: 1592px;
$container-ta: 704px;
$container-mo: 362px;

// breakpoint
$bp-ta : 768px;
$bp-mo : 402px;