@use 'font';
@use 'var';
@use 'reset';
@use 'mixin' as *;
@use 'extend';
@use 'header-footer';
@use 'card';
@use 'icon';
@use 'guide';

html, body {
    overflow-x: hidden;
}

.header.makgeolli {
    background-color: var.$text-black;
}

.makgeolli-header-bg {
    width: 100%;
    height: rem(110);
    background-color: var.$main-fourth-color;
}

// aboutmak section
.aboutmak {
    background-color: var.$main-fourth-color;
    color: var.$text-beige;


    &__content {
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: rem(60);
        justify-content: space-between;

        position: relative;
    }

    // image area
    &__img-area {
        width: 100%;
        z-index: 4;

        .type-card__source {
            text-align: left;
        }
    }

    &__img {
        width: 100%;
        height: rem(640);
        border-radius: rem(60) 0 rem(60) 0;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // text area
    &__text-area {
        position: static;
        width: 100%;
        opacity: 1;
        flex-direction: column;
        justify-content: center;
    }
}

// beganmak section
.beganmak {
    background-color: var.$main-fourth-color;
    color: var.$text-beige;
    overflow-x: hidden;

    &__content {
        width: 100%;
        height: rem(661);
        gap: rem(60);
        justify-content: space-between;
    }

    // image area
    &__img-area {
        width: 57%;

        .type-card__source {
            text-align: right;
        }
    }

    &__img {
        width: 100%;
        height: rem(640);
        border-radius: 0 rem(60) 0 rem(60);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // text area
    &__text-area {
        width: 40%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }
}

// faqmak section
.faqmak {
    background-color: var.$main-primary-color;
    color: var.$text-black;

    &__list {
        width: 100%;
    }

    &__item {
        width: 100%;
        padding: rem(24) rem(36);
        border-bottom: rem(1) solid var.$text-black;

        &:nth-child(1) {
            border-top: rem(1) solid var.$text-black;
        }
    }

    // question
    &__question {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;
        background-color: transparent;
        text-align: left;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            margin: rem(6);
            right: 0;
            top: 20%;
            width: rem(10);
            height: rem(10);

            border-right: rem(2) solid var.$text-black;
            border-bottom: rem(2) solid var.$text-black;
            border-radius: 0 0 rem(1) 0;

            transform: translateY(-50%) rotate(45deg);
            transition: transform 0.3s ease;
        }
    }

    &__item.active &__question::after {
        transform: translateY(-50%) rotate(-135deg);
    }

    // answer
    &__answer {
        display: none;
        padding-left: rem(20);
        padding-right: rem(20);
    }
}

// PC
@media (min-width: 1025px) {

    // aboutmak section
    .aboutmak {
        &__content {
            flex-direction: row;
            height: rem(661);
        }

        &__text-area {
            position: absolute;
            width: 40%;
            height: 100%;
            opacity: 0;
            top: 0;
            right: 0;
        }
    }

}

// tablet 1024px
@media(max-width:1024px) {

    // beganmak section
    .beganmak {
        &__content {
            flex-direction: column-reverse;
            width: 100%;
            height: 100%;
        }

        &__img-area {
            width: 100%;
        }

        &__text-area {
            width: 100%;
        }
    }
}

// Tablet 768px
@media(max-width:768px) {
    .makgeolli-header-bg {
        height: rem(54);
    }

    // aboutmak section
    .aboutmak {
        &__title {
            font-size: rem(32);
            padding-bottom: rem(40);
        }

        &__img {
            height: rem(300);
        }

        &__content {
            gap: rem(40);
        }

        &__text-area {
            gap: rem(30);
        }

        &__story-subtitle {
            font-size: rem(14);
            padding-bottom: rem(2);
        }

        &__story-title {
            font-size: rem(30);
        }

        &__desc {
            font-size: 1rem;
        }
    }

    // beganmak section
    .beganmak {
        padding-top: rem(50);

        &__title {
            font-size: rem(32);
            padding-bottom: rem(40);
        }

        &__img {
            height: rem(300);
        }

        &__content {
            gap: rem(40);
        }

        &__text-area {
            gap: rem(30);
        }

        &__story-subtitle {
            font-size: rem(14);
            padding-bottom: rem(2);
        }

        &__story-title {
            font-size: rem(30);
        }

        &__desc {
            font-size: 1rem;
        }
    }

    // faq section
    .faqmak {

        >.container {
            padding: 0;
        }

        &__title {
            font-size: rem(32);
            padding-bottom: rem(40);
            padding-left: rem(32);
            padding-right: rem(32);
        }

        &__item {
            padding: rem(24) rem(32);
        }

        // question
        &__question {
            font-size: rem(17);
            padding-right: rem(24);

            &::after {
                width: rem(8);
                height: rem(8);
            }
        }

        // answer
        &__answer {
            padding-left: rem(10);
            padding-right: rem(10);
        }

        &__answer-text {
            font-size: rem(15);
        }
    }
}

// mobile 402px
@media(max-width:402px) {

    // aboutmak section
    .aboutmak {
        padding: rem(60) 0;

        &__title {
            font-size: rem(26);
        }

        &__img {
            height: rem(240);
        }

        &__text-area {
            gap: rem(20);
        }

        &__story-title {
            font-size: rem(26);
        }

    }

    // beganmak section
    .beganmak {
        padding: rem(30) 0 rem(60) 0;

        &__title {
            font-size: rem(26);
        }

        &__img {
            height: rem(240);
        }

        &__text-area {
            gap: rem(20);
        }

        &__story-title {
            font-size: rem(26);
        }
    }

    // faq section
    .faqmak {

        &__title {
            padding-left: rem(20);
            padding-right: rem(20);
        }

        &__item {
            padding: rem(24) rem(20);
        }

        // answer
        &__answer {
            padding-left: rem(6);
            padding-right: rem(6);
        }
    }
}